<ion-content>
  <ion-item lines="none">
    <ion-label>
      <h2>Welcome,</h2>
      <h1>Let us set you up</h1>
    </ion-label>
  </ion-item>


  <ion-item lines="none">
    <ion-label>
      <h3>Do you have Allergies?</h3>
      <p>Onboarding for YES / NO question. Users can easily select a button.</p>

      <ion-buttons>
        <ion-button> Yes </ion-button>
        <ion-button> No </ion-button>
      </ion-buttons>
    </ion-label>
  </ion-item>


  <ion-item lines="none">
    <ion-label>
      <h3>Do you have Allergies?</h3>
      <p>Onboarding for YES / NO question. Users can easily select a button.</p>

      <ion-buttons>
        <ion-button> Yes </ion-button>
        <ion-button> No </ion-button>
      </ion-buttons>
    </ion-label>
  </ion-item>


</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-buttons class="getStartedButton">
    <ion-button>Get Started</ion-button>
  </ion-buttons>

  <ion-buttons>
    <ion-button class="prev">Previous</ion-button>
    <ion-button>Next</ion-button>
  </ion-buttons>
</ion-footer>