<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end" mode="md">
      <ion-button (click)="onSkip()">Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Entry-->
  <section #section>
    <ion-item lines="none">
      <ion-label>
        <h2>Welcome,</h2>
        <h1>Let us set you up</h1>
      </ion-label>
    </ion-item>
  </section>

  <!-- Single Selection -->
  <section #section>
    <ion-item lines="none">
      <ion-label>
        <h3>Do you have Allergies?</h3>
        <p>Onboarding for YES / NO question. Users can easily select a button.</p>

        <!-- flexible options-->
        <ion-buttons class="single-selection">
          <ion-button (click)='onSingleSelect("yes")' [ngClass]="{'selected':singleSelect == 'yes'}"> Yes
          </ion-button>
          <ion-button (click)='onSingleSelect("no")' [ngClass]="{'selected':singleSelect == 'no'}"> No </ion-button>
        </ion-buttons>
      </ion-label>
    </ion-item>
  </section>

  <!-- Multi selection with image and text-->
  <section #section>
    <ion-item lines="none">
      <ion-label>
        <h3>Select your favourite products</h3>
        <p>To help us create better experience, please select one or more product.</p>

        <ion-grid class="multi-selection">
          <ion-row>
            <!-- options -->
            <ion-col size="4" button class="ion-activatable ripple-parent shadow" *ngFor="let option of options"
              [ngClass]="{'selected':multiSelect.includes(option) }" (click)="onMultiSelect(option)">
              <img [src]="option.img">
              <ion-text> {{option.name}}</ion-text>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-label>
    </ion-item>
  </section>

  <!-- Multi selection with text only-->
  <section #section>
    <ion-item lines="none">
      <ion-label>
        <h3>Select your favourite products</h3>
        <p>To help us create better experience, please select one or more product.</p>

        <ion-buttons class="multi-selection-text-only">
          <ion-button class="shadow" [ngClass]="{'selected':multiSelect2.includes(option) }"
            *ngFor="let option of options2" (click)="onMultiSelect2(option)"> {{option.name}}</ion-button>
        </ion-buttons>
      </ion-label>
    </ion-item>
  </section>

  <!-- Multi selection with text only and rounded corners-->
  <section #section>
    <ion-item lines="none">
      <ion-label>
        <h3>Select your favourite products</h3>
        <p>To help us create better experience, please select one or more product.</p>

        <ion-buttons class="multi-selection-text-only rounded">
          <ion-button class="rounded border" [ngClass]="{'selected':multiSelect2.includes(option) }"
            *ngFor="let option of options2" (click)="onMultiSelect2(option)"> {{option.name}}</ion-button>
        </ion-buttons>
      </ion-label>
    </ion-item>
  </section>

  <!-- Multi selection with text only and rounded corners-->
  <section #section>
    <ion-item lines="none">
      <ion-label>
        <h3>Select your favourite products</h3>
        <p>To help us create better experience, please select one or more product.</p>

        <ion-buttons class="multi-selection-text-only rounded">
          <ion-button class="rounded border half-radius" [ngClass]="{'selected':multiSelect2.includes(option) }"
            *ngFor="let option of options2" (click)="onMultiSelect2(option)"> {{option.name}}</ion-button>
        </ion-buttons>
      </ion-label>
    </ion-item>
  </section>

  <!-- inputs -->
  <section #section>
    <ion-item lines="none">
      <ion-label>
        <h3>Tell us about you</h3>
        <p>Please tell a bit about you so that we can personalize your onboarding experience</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <ion-text><strong>You are looking for,</strong></ion-text>

        <ion-buttons class="multi-selection-text-only">

          <ion-button class="rounded border half-radius large-button"
            [ngClass]="{'selected':multiSelect3.includes(option) }" *ngFor="let option of options3"
            (click)="onMultiSelect3(option)">

            <img [src]="option.img">
            <ion-text>{{option.name}}</ion-text>
          </ion-button>
        </ion-buttons>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked"><strong>Full Name</strong></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked"><strong>Email</strong></ion-label>
      <ion-input></ion-input>
    </ion-item>
  </section>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-buttons class="getStartedButton" [hidden]="firstIndex !== currentIndex">
    <ion-button (click)="onNext()">Get Started</ion-button>
  </ion-buttons>

  <ion-buttons [hidden]="firstIndex == currentIndex">
    <ion-button class="prev" (click)="onPrevious()">Previous</ion-button>
    <ion-button [hidden]="lastIndex == currentIndex" (click)="onNext()">Next</ion-button>

    <ion-button [hidden]="lastIndex !== currentIndex" (click)="onNext()">Finish</ion-button>
  </ion-buttons>
</ion-footer>